html {
  font-family: Karla, sans-serif
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  font-family: Lexend Deca, 'Times New Roman', Times, serif
}

input[type='submit'] {
  color: white;
  background-color: #337ab7;
  border-color: #2e6da4;
  height: 50px;
}

.travel-mode {
  width: 25%;
}

.toggle {
  color: #fff;
  width: 100%;
  background-color: red;
}
.trips-table {
  width: 600px;
  height:30vh;
  font-size: 1.2rem;
  background-color: #DDD;
  overflow: scroll;
}


.toggle-container, form {
  width: 500px;
}

input {
  margin: 2px 0;
  height: 30px;
}